flow.node-red
[{"id":"9d1d5138.1b0c1","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"52e185d8.88819c","type":"http request","z":"9d1d5138.1b0c1","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/24886ed2-7667-4faf-9410-9852f91bc3a5/deployments/af7bb787-abe4-4f09-9acd-8a296967dbdf/online","tls":"","proxy":"","authType":"","x":626.6666526794434,"y":136.66667366027832,"wires":[["9d3a6297.937b7"]]},{"id":"a0b811e7.0c97f","type":"function","z":"9d1d5138.1b0c1","name":"prediction","func":"var token=msg.payload.token;\nvar age=global.get(\"age\");\nvar sex=global.get(\"sex\");\nvar bmi=global.get(\"bmi\");\nvar children=global.get(\"children\");\nvar smoker=global.get(\"smoker\");\nmsg.payload={\"fields\":[\"age\",\"sex\",\"bmi\",\"children\",\"smoker\"],\"values\":[[age,sex,bmi,children,smoker]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":337.8888740539551,"y":165.11110973358154,"wires":[["52e185d8.88819c","881bbb94.bf85e8"]]},{"id":"9a07bf8.e98d04","type":"http request","z":"9d1d5138.1b0c1","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com\\v3\\identity\\token","tls":"","proxy":"","authType":"","x":442.3333396911621,"y":409.11112213134766,"wires":[["881bbb94.bf85e8","a0b811e7.0c97f"]]},{"id":"df0228ec.552ab8","type":"function","z":"9d1d5138.1b0c1","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"82e48655-0ff5-4bec-9aff-c860afb33a4c\"\nvar password=\"5ae530e7-8dab-4726-a93f-15db06a2462f\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"age\",msg.payload.age)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"children\",msg.payload.children)\nreturn msg;","outputs":1,"noerr":0,"x":258.25,"y":454.7500057220459,"wires":[["9a07bf8.e98d04"]]},{"id":"9d3a6297.937b7","type":"function","z":"9d1d5138.1b0c1","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][1];\nreturn msg;","outputs":1,"noerr":0,"x":664.222261428833,"y":238.77778244018555,"wires":[["70aa0940.ba85f8","881bbb94.bf85e8"]]},{"id":"881bbb94.bf85e8","type":"debug","z":"9d1d5138.1b0c1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":847.555549621582,"y":409.7777786254883,"wires":[]},{"id":"58a4429b.b27e0c","type":"ui_form","z":"9d1d5138.1b0c1","name":"","label":"","group":"61a57bd8.5de624","order":3,"width":0,"height":0,"options":[{"label":"age","value":"age","type":"number","required":true},{"label":"bmi","value":"bmi","type":"number","required":true},{"label":"children","value":"children","type":"number","required":true}],"formValue":{"age":"","bmi":"","children":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":64,"y":539,"wires":[["df0228ec.552ab8"]]},{"id":"70aa0940.ba85f8","type":"ui_text","z":"9d1d5138.1b0c1","group":"61a57bd8.5de624","order":4,"width":0,"height":0,"name":"","label":"charges","format":"{{msg.payload}}","layout":"row-spread","x":856.8888778686523,"y":257.33333587646484,"wires":[]},{"id":"cebae7cd.9ab528","type":"inject","z":"9d1d5138.1b0c1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":93,"y":328,"wires":[["9a07bf8.e98d04"]]},{"id":"d22fae85.9185c","type":"ui_dropdown","z":"9d1d5138.1b0c1","name":"","label":"","tooltip":"","place":"Select option","group":"61a57bd8.5de624","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"female","value":"female","type":"str"},{"label":"male","value":"male","type":"str"}],"payload":"","topic":"","x":168.75,"y":648.75,"wires":[["3a34f856.d99d28"]]},{"id":"c312b769.60d8c8","type":"ui_dropdown","z":"9d1d5138.1b0c1","name":"","label":"","tooltip":"","place":"Select option","group":"61a57bd8.5de624","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"yes","value":"yes","type":"str"},{"label":"no","value":"no","type":"str"}],"payload":"","topic":"","x":630.0000076293945,"y":617.5000085830688,"wires":[["905658d3.508088"]]},{"id":"3a34f856.d99d28","type":"function","z":"9d1d5138.1b0c1","name":"gender","func":"if(msg.payload==\"female\"){\n    global.set(\"sex\",0);\n}\nelse if(msg.payload==\"male\"){\n    global.set(\"sex\",1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":378.75000762939453,"y":648.7500095367432,"wires":[["8ceea5d5.096238"]]},{"id":"905658d3.508088","type":"function","z":"9d1d5138.1b0c1","name":"smoker","func":"if(msg.payload==\"yes\"){\n    global.set(\"smoker\",1);\n}\nelse if(msg.payload==\"no\"){\n    global.set(\"smoker\",0);\n}\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":617.5,"wires":[["2c59467d.45ed5a"]]},{"id":"8ceea5d5.096238","type":"debug","z":"9d1d5138.1b0c1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":529.6000366210938,"y":681.8000030517578,"wires":[]},{"id":"2c59467d.45ed5a","type":"debug","z":"9d1d5138.1b0c1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":931.5999755859375,"y":664.8000030517578,"wires":[]},{"id":"61a57bd8.5de624","type":"ui_group","z":"","name":"ml model","tab":"10f15d8.6614da3","disp":true,"width":"6","collapse":false},{"id":"10f15d8.6614da3","type":"ui_tab","z":"","name":"Health Insurance Prediction","icon":"dashboard","disabled":false,"hidden":false}]